@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model.Products)
{
    Html.RenderPartial("ProductSummary", p);
}

<div class="pager">
      @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {categoryOn = Model.CategoryOn, page = x, category = Model.CurrentCategory}))
</div>

@using (Html.BeginForm("CheckDatabase", "Product"))
{
    <input type="submit" value="Check database connection" />
}